
<!--Toolbar-->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
 
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="perm_identity" aria-label="Example icon-button with heart icon">
    <mat-icon>account</mat-icon>
  </button>
</mat-toolbar>

<!--Sidenav-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-navlist" mode="side" [opened]="isSidebarOpen">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'consultarprestamo'">Prestamos</a>
      <a mat-list-item [routerLink]="'consultarlibro'">Libros</a>
      <a mat-list-item [routerLink]="'consultarcliente'">Clientes</a>
      <a mat-list-item [routerLink]="'consultarautor'">Autores</a>
      <a mat-list-item [routerLink]="'consultarusuario'">Usuarios</a>
      <a mat-list-item [routerLink]="'consultarciudad'">Ciudades</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
