
<!--Toolbar-->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="menu icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
 
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="material-icons" aria-label="person icon">
    <mat-icon>perm_identity</mat-icon>
  </button>
</mat-toolbar>

<!--Sidenav-->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="example-navlist" mode="side" [opened]="isSidebarOpen">
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Biblioteca
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <a mat-list-item [routerLink]="'consultarlibro'">Libros</a>
        <a mat-list-item [routerLink]="'consultarprestamo'">Prestamos</a>
      </mat-expansion-panel>      

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Registros
          </mat-panel-title>
        </mat-expansion-panel-header>
        
        <a mat-list-item [routerLink]="'consultarcliente'">Clientes</a>
        <a mat-list-item [routerLink]="'consultarautor'">Autores</a>
        <a mat-list-item [routerLink]="'consultarciudad'">Ciudades</a>
        <a mat-list-item [routerLink]="'consultarusuario'">Usuarios</a>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
